<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Indentificacion</th>
        <th scope="col">Correo Electronico</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resgistros of users">
        <td>{{resgistros.codigo}}</td>
        <td>{{resgistros.nombre}}</td>
        <td>{{resgistros.identificacion}}</td>
        <td>{{resgistros.correoElectronico}}</td>
      </tr>
    </tbody>
  </table>
